/* not active */
.nav-pills .nav-link:not(.active) {
  background-color: transparent;
  color: #242424;
}

/* active*/
.nav-pills .nav-link.active,
.nav-pills .nav-link.active:hover,
.nav-pills .nav-link.active:focus {
  background-color: #dfcc18;
  color: #242424;
  font-weight: 550;
}
