html, body {
  height: auto;
}

.bg {
  background-image: url("../img/bg.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.dropdown-menu>a:hover {
  color: black;
}

.container-dark {
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  border-radius: 10px;
}

.container-light {
  background-color: rgba(255, 255, 255, 0.5);
  color: black;
  border-radius: 10px;
}

.card-dark:hover {
  cursor: pointer;
  transform: scale(1.05, 1.05);
  box-shadow: 5px 5px 30px 15px rgba(255, 255, 255, 0.5), -5px -5px 30px 15px rgba(255, 255, 255, 0.5);
}

.card-light:hover {
  cursor: pointer;
  transform: scale(1.05, 1.05);
  box-shadow: 5px 5px 30px 15px rgba(0, 0, 0, 0.5), -5px -5px 30px 15px rgba(0, 0, 0, 0.5);
}

.close-light {
  color: black;
  opacity: 1;
}

.close-dark {
  color: white;
  opacity: 1;
}

.bookmark-color-light {
  color: #ee5135;
}

.bookmark-color-dark {
  color: #f18873;
}

.bookedStatus {
  opacity: 1;
}

.bookStatus {
  opacity: 0.3;
}

.bookedButton {
  opacity: 1;
}

.bookButton {
  opacity: 0.3;
}

.bookButton-light:hover {
  opacity: 1;
}